<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926297276895-ieim3oca6oq3tp6rlq1vuil3ouhumtsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926297276895-ieim3oca6oq3tp6rlq1vuil3ouhumtsn</string>
	<key>API_KEY</key>
	<string>AIzaSyDxxqnTdr8gz4Oyrp-W6-UF_Eb-S6qeCdo</string>
	<key>GCM_SENDER_ID</key>
	<string>926297276895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astrologically.app</string>
	<key>PROJECT_ID</key>
	<string>astroappweb</string>
	<key>STORAGE_BUCKET</key>
	<string>astroappweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926297276895:ios:302572aa7884dd277e446a</string>
</dict>
</plist>